go 1.22.0

toolchain go1.23.6

use (
	./app/api
	./app/auth
	./app/cart
	./app/checkout
	./app/doubao_ai
	./app/order
	./app/payment
	./app/product
	./app/user
	./common
	app/hot_key_worker
	douyin_mall_rpc
)

replace github.com/apache/thrift => github.com/apache/thrift v0.13.0
